<html>
    <head>
        
    </head>

    <body>
        <div class="container">
            <div class="header">
                {{ companyTitle }}
                <br>
                {{ companySubtitle }} 
            </div>
            <div class="content">
                <img src='../assets/health-care.jpeg' />
                <p>
                    Alstom Healthcare Systems is a premier medical clinic in Tarnaka, Secunderabad providing health care solutions to the residents of Hyderabad.
                </p>
                <p>
                We are authorised channel partner for Philips Inc., and are specialists in supplying Oxygen cylinders, Nebulisers and Sanitisers. 
                We are also very reputed in conducting sleep study and so many doctors and patients, within and outside Hyderabad approach us for our quality & efficient service.
                </p>
            </div>
            <div class="footer" hidden="true">@Copyright Alstom Healthcare</div>
        </div>

    </body>
</html>